

li {
    float: left;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header a:hover {
    background-color: #111;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    height: 20em;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.button_full {
    width: 100%;
    padding: 9px 20px;
    font-size: 16px;
}

html,body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.form_vertical {
    margin-bottom: 20px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: white;
  color: black;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
