<div class="page-body">
    <div class="account-body">
        <div class="about-body-text">
            <p>We're a group of threatening web-dev game changers who are commoditising opportunity
                pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
                <br> <br>
            </p>
            <p>
                In our team we have:
                <br><b>Christina Sun:</b> Our humble software farmer
                <br><b>Irene:</b>  Our professional software horticulturist
            </p>

            <p>
                <br>And together we're here to ${garble}
            </p>
        </div>
    </div>
</div>