<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Friend</title>
    <script src="js/main.js"></script>
    <script type = "text/javascript" src="js/main.js"></script>
</head>
<body>
    <div>
        <div class="page-body">
            <script>
                var name = getCookie('username')
            </script>
            <form action="/add_friend" method="post">
                <label for="friendUsername">Please enter friend's username:</label>
                <input type="text" id="friendUsername" name="friendUsername">
                <br>
                <a href="/valid_login">
                    <button class="button button1" name="AddFriend" type="submit" onclick="addFriendWindowAlert()">Send request</button>
                </a>
            </form>
        </div>
    </div>

</body>
</html>