<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="js/register.js"></script>
    <script type = "text/javascript" src="js/register.js"></script>
</head>
<body>
    <div class="page-body">
        <div class="ask-question-main">
            <h2>Ask a public question</h2>
            <div class="chat-main-bottom">
                <div class="ask-question-body">
                    <form method="post" action="/add-question">
                         <div class="question-title-input">
                            <label class="ask-question-title">Title</label>
                             <p class="text-muted">Be specific and imagine you’re asking a question to another person</p>
                            <input type="text" name="question-title">
                         </div>
                         <div class="">
                            <label class="ask-question-title">Body</label>
                            <p class="text-muted"> Include all the information someone would need to answer your question</p>
                         </div>
                         <div class="question-body">
                            <textarea name="question-body"></textarea>
                         </div>
                        <input type="submit" value="Publish your question" class="publish-button button button1">
                     </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>