<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="js/register.js"></script>
    <script type = "text/javascript" src="js/register.js"></script>
</head>
<body>
<div class="form_vertical">
    <p>Here is your friend list: ${friend_ls}</p>
    <h2>Type in your friend's name to send a message</h2>
     <form method="post" action="/choose_friend_to_chat">
         <div>
            <label for="friend_name">Friend's Name:</label>
            <input type="text" name="friendName">
         </div>
         <br>
            <label for="message">Type in your message:</label>
         <div>
            <textarea name="message" rows="6" cols="50" 
            onclick="sign_message(document.getElementById(message).value)"></textarea>

         </div>
         <br>
         <a href="/valid_login">
                <input type="submit" value="Send" class="button button1">
         </a>

     </form>
</div>
</body>
</html>