<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="js/register.js"></script>
    <script type = "text/javascript" src="js/register.js"></script>
</head>
<body>
    <div class="page-body">
        <div class="form_vertical">
            <div class="display-friend-list">
                <p>Here is your friend list: ${friend_ls}</p>
            </div>
            <h2>Type in your friend's name to send a message</h2>
            <div class="chat-main-bottom">
                 <div class="message-display-body">
                     <form method="post" action="/receive_message">
                     <p>Messages received:</p>
                     <div style="width:100%;height:215px;border:1px solid #000; margin-top:10px;">
                            <p>${from_user}: ${message}</p>
                     </div>
                         <input type="submit" value="Receive" class="button button1">
                     </form>
                 </div>
                <div class="send-message-body">
                    <form method="post" action="/send_message">
                         <div class="name-input-box">
                            <label for="friend_name">Type in your friend's name</label>
                            <input type="text" name="friendName">
                         </div>
                         <div class="box-label">
                            <label for="message">Type in your message:</label>
                         </div>
                         <div class="display-send-message-body">
                            <textarea name="message" rows="10" cols="48" style="font-size:16pt"
                            onclick="sign_message(document.getElementById(message).value)">
                            </textarea>
                         </div>
                        <input type="submit" value="Send" class="button button1">
                     </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>