<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Simple Student Templating Solutions</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/about">About</a></li>
</ul>
</p>
<center><h2>Simple Student Templating Solutions</h2>


<h3><i>Because the usability is more important than the back end for now.</i></h3>

<p>
<img src="img/header.jpg" alt="Some stuff that popped out of tensor flow" height="80%">
</p>

<p>