<head>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/temp.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/script_head.js"></script>
  <title>Simple Chat</title>
</head>

<div class="header">
  <div class="header-box">
    <a href="/home"><h2 class="header-logo">Simple & Secure</h2></a>
  </div>
  <div class="header-li">
    <ul>
      <li><a href="/home">Home</a></li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">
            Account<i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          </div>
        </div>
      </li>
      <li><a href="/about">About</a></li>
      <li><a href="/support">Support</a></li>
      <li><a href="/knowledge-repository">Knowledge repository</a></li>
    </ul>
  </div>
</div>
<center>