<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Repository</title>
    <script src="js/register.js"></script>
    <script type = "text/javascript" src="js/register.js"></script>
    <script src="js/main.js"></script>
    <script type = "text/javascript" src="js/main.js"></script>
</head>
<body>
  <div class="page-body">
      <div class="repo-mainbar">
          <div class="repo-head">
              <h1>All Questions</h1>
              <div class="repo-right">
                  <a href="/ask-question">
                    <button value="ask" type="button" class="button button1" name="AskQuestion">Ask Question</button>
                  </a>
              </div>
          </div>
          <div class="all-questions">
              <div id="0" class="div-question">
                  <h4 class="question-title">Why am i learning cybersecurity?</h4>
                  <div class="question-body">
                      <p>Because it's a core</p>
                  </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>
              <div id=1 class="div-question">
                  <h4 class="question-title">testing write func</h4>
                  <div class="question-body">
                      <p>is it working?</p>
                  </div>
              </div>