<header>
    <h1>Login</h1>
    <script src="js/main.js"></script>
    <script type = "text/javascript" src="js/main.js"></script>
</header>
<div><img src="img/welcome.png" alt="Some stuff that popped out of tensor flow" height="40%"></div>
<div>
    <p>
        <form action="/login" method="post">
        Username: <input name="username" type="text" />
        <script>
        sessionStorage.setItem('uname', name);
        </script>
        <br>
        Password: <input name="password" type="password" />
    </p>
    <p>
        <div><input value="Login" type="submit" class="button button1" /></div>
        <div>
            <a href="/register" class="button button1">
                Create Account
            </a>
        </div>
    </p>
    </form>
</div>