<head>
    <meta charset="UTF-8">
    <title>
        Register
    </title>
    <script src="js/register.js"></script>
    <script type = "text/javascript" src="js/register.js"></script>
    <script src="js/main.js"></script>
    <script type = "text/javascript" src="js/main.js"></script>
</head>
<body>
<h1>Create Account</h1>
<div><img src="img/welcome.png" alt="Some stuff that popped out of tensor flow" height="40%"></div>
<br>
<div class="form_vertical">
    <form method="post" action="/register">
        <label for="Username">User Name</label>
        <input type="text" name="username">
        <label for="CreatePassword">Password</label>
        <input type="password" name="password">
         <p>
            <a href="/login">
                <input type="submit" value="Create" class="button button1"
                       onclick="generateKeyPairs(); setSessionStorage('username', username)">
            </a>
        </p>
    </form>
</div>

</body>