<h1>This username-password combination is valid, welcome ${name}!</h1>
<div>
    <h2>Here is your friend list:</h2>
</div>
<div>
    <p>
        ${friend_ls}
    </p>
</div>
<div>
    <h3>You can:</h3>
    <form method="post" action="/valid_login" enctype="multipart/form-data">
        <button class="button button1" name="AddFriend" formmethod="post" type="submit">Add friend</button>
        <button class="button button1" name="ChooseFriend" formmethod="post" type="submit">Choose friend to message</button>
    </form>
</div>

